@import "tailwindcss";

@theme {
    --color-current: currentColor;
    --color-transparent: transparent;
    --color-primary: #065ACC;
    --color-secondary: #F4BB46;
}

@layer base {
    :lang(en) {
        font-family: var(--font-libreFranklin);
    }
}

@layer utilities {
    .container {
        margin: 0 auto;
        @apply px-8 md:px-10 lg:px-14 py-9;
    }
}


@layer utilities {
    .markdown-content p {
        @apply my-4 w-full text-wrap text-justify text-neutral-600
    }

    .markdown-content h2 {
        @apply text-3xl mt-4 font-black text-neutral-700
    }

    .markdown-content ul {
        @apply mt-4 ml-6 list-disc space-y-2 text-neutral-700
    }

    .markdown-content h1 {
        @apply text-4xl font-black text-neutral-700
    }
}

@layer utilities {
    .debug {
        & > * {
            border: 1px solid red;
        }

        border: 1px solid red;
    }

    .skeleton *:not(:has(*)):not(.target), .skeleton .target {
        @apply bg-gray-200 text-gray-200 rounded-md animate-pulse border-0;
    }

    .skeleton img {
        @apply relative
    }

    .skeleton img::before {
        content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1MCIgdmlld0JveD0iMCAwIDI1NiAyNTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIyNTYiIGhlaWdodD0iMjUwIiBmaWxsPSIjRTVFN0VCIi8+Cjwvc3ZnPgo=);
        @apply absolute inset-0 bg-gray-200 flex items-center justify-center text-black;
    }
}