@import "tailwindcss";

@theme {
    --color-current: currentColor;
    --color-transparent: transparent;
    --color-primary: #065ACC;
    --color-secondary: #F4BB46;
}

@layer base {
    :lang(en) {
        font-family: var(--font-libreFranklin);
    }

    .debug {
        & > * {
            border: 1px solid red;
        }

        border: 1px solid red;
    }
}

@layer utilities {
    .container {
        margin: 0 auto;
        @apply px-8 md:px-10 lg:px-14 py-9;
    }
}


