@import "tailwindcss";

@layer base {
    :lang(en) {
        font-family: var(--font-libreFranklin);
    }

    .debug {
        & > * {
            border: 1px solid red;
        }

        border: 1px solid red;
    }
}

@layer utilities {
    .container {
        margin: 0 auto;
        @apply px-4 lg:px-12;
    }
}


